.mat-autocomplete-panel {
  .mat-option {
    .mat-option-text {
      .details {
        color: #aaa;
        font-style: italic;
      }
    }
  }
}

.cdk-overlay-container {
  .cdk-overlay-pane {
    max-width: 100vw !important;
    .mat-dialog-container {
      padding: 0 !important;
    }
  }
}
