<mat-tab-group [dynamicHeight]="false">
    <mat-tab label="Demo">
        <ng-template matTabContent>
            <div class="tab-content">
                <div class="map-container-outer">
                    <div class="map-container">
                        <mat-card>
                            <mangol [config]="mangolConfig"></mangol>
                        </mat-card>
                    </div>
                </div>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Code">
        <ng-template matTabContent>
            <div class="tab-content">
                <app-pretty-print [code]="code"></app-pretty-print>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="API">
        <ng-template matTabContent>
            <div class="tab-content">
                <app-api [apiUrl]="'PrintModule'"></app-api>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>
