// THEMING
@import "theming/theming";
// IMPORT CSS LIBRARIES
@import "~openlayers/dist/ol.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~mapskin/css/mapskin.min.css";
// IMPORT SCSS LIBRARIES
@import "lib/material-icons/material-icons";
@import "lib/bourbon/bourbon";
@import "lib/neat/neat";
@import "base/base";
@import "lib/refills/ribbon";
// OVERRIDES
@import "overrides/material";
@import "overrides/openlayers";
// COMPONENTS
@import "components/container";
@import "components/map";
@import "components/sidebar";
@import "components/toolbar";
@import "components/layertree";
@import "components/print";
@import "components/measure";
.mangol-pointer {
  cursor: pointer;
}
