# Dependency directory
yarn.lock
package-lock.json
/node_modules
/bower_components
/example_project/node_modules

# IDEs and editors
/.idea
/.vscode
.project
.classpath
.c9/
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log
/typings
/.tscache

# compiled output
/dist
/tmp

# e2e
/e2e/*.js
/e2e/*.map
src/**/*.js
src/**/*.map
scripts/**/*.js
scripts/**/*.map

# System Files
.DS_Store
Thumbs.db
