@import '~@angular/material/theming';
@include mat-core();
@if not variable-exists(mangol-theme) {
  $mangol-theme: mat-light-theme(mat-palette($mat-blue), mat-palette($mat-deep-orange), mat-palette($mat-red)) !global;
}

@include angular-material-theme($mangol-theme);
$mangol-primary: map-get($mangol-theme, primary);
$mangol-accent: map-get($mangol-theme, accent);
$mangol-warn: map-get($mangol-theme, warn);

@if not variable-exists(mangol-height) {
  $mangol-height: 100% !global;
}

@if not variable-exists(mangol-sidebar-width) {
  $mangol-sidebar-width: 450px !global;
}

@if not variable-exists(mangol-quicksearch-width) {
  $mangol-quicksearch-width: 250px !global;
}
