<div>
    <div *ngIf="detailType==='opacity'"
        class="details">
        <div class="details-title">Opacity
            <mat-icon matTooltip="Close details"
                matTooltipPosition="above"
                (click)="closeDetails()">close</mat-icon>
        </div>
        <mat-slider #slider
            color="primary"
            [thumbLabel]="sliderShowLabels"
            [min]="sliderMin"
            [max]="sliderMax"
            [step]="sliderStep"
            [value]="sliderValue"
            (change)="onSliderChange($event)"></mat-slider>
    </div>
    <div *ngIf="detailType==='legend'"
        class="details">
        <div class="details-title">Legend</div>
        soon...
    </div>
</div>
