<div class="custom-buttons">
    <div class="zoom-in"
        (click)="zoomIn()">
        <button mat-mini-fab
            color="primary"
            matTooltip="Zoom in"
            matTooltipPosition="right"
            class="mat-elevation-z2">
      <mat-icon class="mat-12">add</mat-icon>
    </button>
    </div>
    <div class="zoom-out"
        (click)="zoomOut()"
        matTooltip="Zoom out"
        matTooltipPosition="right">
        <button mat-mini-fab
            color="primary"
            class="mat-elevation-z2">
      <mat-icon class="mat-24">remove</mat-icon>
    </button>
    </div>
    <div *ngIf="map && config && config.map && config.map.controllers && config.map.controllers.fullScreen"
        class="full-screen"
        (click)="fullScreen()"
        matTooltip="Full screen"
        matTooltipPosition="right">
        <button mat-mini-fab
            color="primary"
            class="mat-elevation-z2">
      <mat-icon class="mat-24">fullscreen</mat-icon>
    </button>
    </div>
    <div class="sidebar"
        *ngIf="config.sidebar && config.sidebar.collapsible"
        (click)="toggleSidebar()">
        <button mat-mini-fab
            color="primary"
            [matTooltip]="sidebarOpened ? 'Hide sidebar' : 'Show sidebar'"
            matTooltipPosition="right"
            class="mat-elevation-z2">
      <mat-icon class="mat-24">{{sidebarOpened ? 'chevron_left' : 'chevron_right'}}</mat-icon>
    </button>
    </div>
</div>
<mangol-tile-load *ngIf="map && config && config.map && config.map.controllers && config.map.controllers.tileLoad && (loadingTiles$ | async).length > 0"></mangol-tile-load>
<div class="mangol-map-controllers"
    *ngIf="map && config && config.map && config.map.controllers">
    <mangol-scale-line *ngIf="config.map.controllers.scaleLine"
        [map]="map"
        [opts]="config.map.controllers.scaleLine"></mangol-scale-line>
    <mangol-mouse-position *ngIf="config.map.controllers.mousePosition"
        [map]="map"
        [opts]="config.map.controllers.mousePosition"></mangol-mouse-position>
</div>
<mangol-quick-search *ngIf="map && config && config.map && config.map.controllers && config.map.controllers.quickSearch"
    [opts]="config.map.controllers.quickSearch"
    [map]="map"></mangol-quick-search>

<div [attr.id]="config.map.target"
    class="mangol-map-div"></div>
