.mangol-container {
  @include outer-container(100%);
  height: 100%;
  & md-sidenav-layout {
    & md-sidenav {
      width: 40%;
    }
    & .md-sidenav-backdrop {
      &.md-sidenav-shown {
        display: none !important;
      }
    }
  }
}
