.mangol-feature-info {
  .feature-info-container {
    padding: $sidebar-padding;
    .mat-form-field {
      width: 100%;
    }
  }
  .mat-feature-info-table {
    .table-container {
      display: flex;
      flex-direction: column;
    }
  }
  .full-screen-button {
    width: 100%;
    margin-bottom: 20px;
  }
}
