.mangol-layertree {
  color: $base-font-color;
  .mat-list {
    .mat-subheader {
      color: mat-color($mangol-primary);
    }
  }
  .mat-expansion-panel {
    box-shadow: none !important; // border-bottom: 1px solid red;
    .mat-expansion-panel-header {
      .mat-content {
        display: initial;
      }
    }
  }
  .mat-list-item {
    cursor: pointer;
    &:hover {
      background-color: #f5f5f5;
    }
  }
  .layer-name {
    font-size: 13px !important;
  }
  .layer-description {
    color: rgba(0, 0, 0, 0.54);
    font-size: 13px !important;
  }
}
