.mangol-map {
  z-index: 0; // vertical-align: top;
  // position: relative;
  width: 100%;
  display: block; // height: 100%;
  .custom-buttons {
    position: absolute;
    z-index: 20;
    $left-margin: 1em;
    .mat-ripple-background,
    .mat-ripple-foreground {
      display: none !important;
    }
    .sidebar {
      margin-top: 3em;
      margin-left: $left-margin;
    }
    .zoom-in {
      margin-top: 1em;
      margin-left: $left-margin;
    }
    .zoom-out {
      margin-left: $left-margin;
      margin-top: 0.5em;
    }
    .full-screen {
      margin-left: $left-margin;
      margin-top: 0.5em;
    }
    .sidebar {
      top: 6em;
      left: 0.5em;
    }
  }
  .mangol-map-div {
    height: 100%;
    overflow: hidden;
  }
  .mangol-map-controllers {
    position: absolute;
    padding: 1em;
    z-index: 2;
    right: 0;
    bottom: 0;
    display: flex;
    .mangol-mouse-position {
      position: relative;
      margin-left: 1em;
    }
    .mangol-scale-line {
      position: relative;
      .ol-scale-line {
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        bottom: initial;
        left: initial;
        padding: initial;
        .ol-scale-line-inner {
          font-size: 13px;
          border: 1px solid white;
          border-top: none;
          border-left: none;
          border-right: none;
          color: white;
          margin: initial;
        }
      }
    }
  }
  .mangol-quick-search {
    width: 50%;
    min-width: 100px;
    max-width: $mangol-quicksearch-width;
    position: absolute;
    padding: 1em;
    top: 0;
    right: 0;
    z-index: 3;
    .quicksearch-outer {
      position: relative;
      background: white;
      border-radius: 24px;
      padding-left: 20px;
      padding-right: 20px;
      .quicksearch-form {
        .mat-form-field {
          width: 100%;
        }
        .mat-input-prefix {
          .mat-icon {
            font-size: 100%;
            margin-right: 3px;
          }
        }
      }
      input {
        box-shadow: none;
      }
    }
  }
}
