<div class="mangol-content">
    <mat-drawer-container autosize>
        <mat-drawer #start
            *ngIf="config.sidebar && sidebarMode && map"
            align="start"
            (open)="updateMap()"
            (close)="isOpened=false"
            (openedChange)="updateMap()"
            opened="{{isOpened}}"
            mode="{{sidebarMode}}"
            disableClose>
            <mangol-sidebar [options]="config.sidebar"
                [map]="map">
            </mangol-sidebar>
        </mat-drawer>
        <mangol-map *ngIf="config.map"
            [config]="config"
            [mapService]="service"
            (mapCreated)="mapCreated($event)"
            (sidebarToggled)="sidebarToggled($event)">
        </mangol-map>
    </mat-drawer-container>
</div>
