<div class="measure-container">
    <div class="subtitle">
        <span *ngIf="selected === null">Please select a measure type:</span>
        <span *ngIf="selected !== null">Click on the map to start {{selected.title | lowercase}}</span>
    </div>
    <mat-button-toggle-group (change)="onToggleChange($event)">
        <mat-button-toggle *ngFor="let button of buttons"
            [value]="button"
            [matTooltip]="button.title"
            matTooltipPosition="below">
            <mat-icon [fontSet]="button.fontSet"
                [fontIcon]="button.fontIcon"></mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>
    <div class="value-container"
        *ngIf="value !== null">
        <span>Value: </span>
        <span class="value">{{value}}</span>
        <span class="value"
            [innerHTML]="getDimension()"></span>
    </div>
</div>
