$primary: #0090ec;
$secondary: #83c5f5;
$active: #ff3e45;
:host {
  display: block;
  height: 100%;
}

.mat-toolbar {
  display: block;
  .mat-toolbar-row {
    .title {
      margin-left: 15px;
      .title-text {
        .main-title {
          line-height: 1.3;
        }
        .sub-title {
          font-size: smaller;
          line-height: 1;
          font-weight: 300;
          font-style: italic;
          color: rgba(white, 0.9);
        }
      }
    }
    .fill-remaining-space {
      flex: 1 1 auto;
    }
    i {
      color: white;
      font-size: 36px;
    }
    .badges {
      text-align: right;
      width: 100%;
      margin-right: 20px;
    }
  }
}

.demo-drawer-container {
  height: calc(100% - 64px);
  .mat-drawer {
    width: 300px;
    @media screen and (max-width: 500px) {
      width: 100vw;
    }
  }
  .demo-sidenav {
    padding-top: 40px;
    padding: 20px;
    box-shadow: 4px 0 5px -4px #888;

    .badges {
      margin-bottom: 20px;
    }
  }
  .demo-sidenav-content {
    height: 100%;
    padding: 0px;
  }
}

.mat-card {
  margin-bottom: 10px;
  background-color: $primary;
  color: white;
  cursor: pointer;
  -webkit-transition: transform 0.2s ease-in;
  -moz-transition: transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in;

  &.active {
    background-color: $active;
    color: white;
    transform: scale(1.03);
  }
}
