@import '../../projects/mangol/src/lib/assets/scss/mangol';
$primary: #0090ec;
$secondary: #83c5f5;
$active: #ff3e45;

:host {
  display: block;
  height: 100%;
}

.mat-toolbar {
  display: block;

  .mat-toolbar-row {
    .title {
      margin-left: 15px;

      .title-text {
        .main-title {
          line-height: 1.3;
        }

        .sub-title {
          color: rgba(#fff, 0.9);
          font-size: smaller;
          font-style: italic;
          font-weight: 300;
          line-height: 1;
        }
      }
    }

    .fill-remaining-space {
      flex: 1 1 auto;
    }

    i {
      color: #fff;
      font-size: 36px;
    }

    .badges {
      margin-right: 20px;
      text-align: right;
      width: 100%;
    }

    a {
      color: #fff;
    }

    .mat-icon {
      @include mat-icon-size(24px);
      vertical-align: middle;
    }
  }
}

.mat-card {
  background-color: $primary;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;

  &.active {
    background-color: $active;
    color: #fff;
  }
}

.demo-drawer-container {
  height: calc(100% - 64px);

  ::ng-deep.mat-drawer {
    width: 300px;

    .mat-drawer-inner-container {
      overflow-x: hidden;
    }

    @media screen and (max-width: 500px) {
      width: 100vw;
    }

    .mat-card {
      border-radius: 100px;
      margin-bottom: 15px;
    }
  }

  .demo-sidenav {
    box-shadow: 4px 0 5px -4px #888;
    padding: 20px;
    padding-top: 40px;

    .badges {
      margin-bottom: 20px;
    }
  }

  .demo-sidenav-content {
    height: 100%;
    padding: 0;
  }
}
