<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button
            class="sidebar-button"
            (click)="toggleSidebar()"
            [matTooltip]="sidebarOpened ? 'Hide Sidebar' : 'Show Sidebar'"
            matTooltipPosition="below"><mat-icon>{{sidebarOpened ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}</mat-icon></button>
        <button mat-icon-button
            class="sidebar-button"
            (click)="navigateHome()"
            matTooltip="Go to Start Page"
            matTooltipPosition="below"><mat-icon>home</mat-icon></button>
        <div class="title">
        </div>
        <span class="fill-remaining-space"></span>
        <span>
            <a href="https://github.com/fegyi001/mangol"
            target="_blank"
            matTooltip="Fork me on GitHub"
            matTooltipPosition="before">
              <div class="ribbon">
                  <i class="fa fa-github"></i>
              </div>
            </a>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="demo-drawer-container"
    autosize>
    <mat-drawer #drawer
        class="demo-sidenav"
        mode="side"
        [opened]="sidebarOpened">
        <h1>Modules</h1>
        <mat-card *ngFor="let item of items"
            [ngClass]="{'active': activeRouteData === item.link}"
            (click)="navigate(item)">{{item.title}} </mat-card>
    </mat-drawer>
    <div class="demo-sidenav-content"
        [@routeState]="getAnimationData(rOutlet)">
        <router-outlet #rOutlet="outlet"></router-outlet>
    </div>
</mat-drawer-container>
