<div class="mangol-demo">
  <div class="ribbon-box">
    <div class="ribbon-wrapper">
      <a href="https://github.com/fegyi001/mangol" target="_blank" matTooltip="Fork me on GitHub" matTooltipPosition="left">
        <div class="ribbon">
          <i class="fa fa-github"></i>
        </div>
      </a>
    </div>
  </div>
  <div class="demo">
    <div class="demo-header">
      <h1 class="title">
        <img [src]="logo">
        <span> MANGOL </span>
      </h1>
      <div class="subtitle">Maps created with Angular & OpenLayers using Material design</div>
      <p align="center">
        <a href="https://img.shields.io/npm/l/mangol.svg">
          <img src="https://img.shields.io/npm/l/mangol.svg" alt="licence">
        </a>
        <a href="https://badge.fury.io/js/mangol">
          <img src="https://badge.fury.io/js/mangol.svg" alt="npm version">
        </a>
        <a href="https://npmjs.org/mangol">
          <img src="https://img.shields.io/npm/dm/mangol.svg" alt="npm downloads">
        </a>
        <span style="margin-top: 10px;display: inline-block;width: 100px;">
          <iframe frameborder="0" scrolling="0" style="height: 20px;width: 100px;" title="github stars count" src="https://ghbtns.com/github-btn.html?user=fegyi001&repo=mangol&type=star&count=true"></iframe>
        </span>
      </p>
      <nav>
        <mat-chip-list>
          <mat-chip color="primary" *ngFor="let item of items" [routerLink]="item.link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{item.title}}</mat-chip>
        </mat-chip-list>
      </nav>
    </div>
    <div class="demo-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
