<div class="mangol-demo">
  <div class="ribbon-box">
    <div class="ribbon-wrapper">
      <a href="https://github.com/fegyi001/mangol" target="_blank" matTooltip="Fork me on GitHub" matTooltipPosition="left">
        <div class="ribbon">
          <i class="fa fa-github"></i>
        </div>
      </a>
    </div>
  </div>
  <div class="demo">
    <div class="demo-header">
      <h1 class="title">MANGOL 0.6.5 components</h1>
      <div class="subtitle">built with: Angular 5.0.0 | OpenLayers 4.4.2 | Angular CLI 1.5.0 | Angular Material 5.0.0-rc0 | TypeScript 2.4.2</div>
      <nav>
        <button color="primary" mat-raised-button *ngFor="let item of items" [routerLink]="item.link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{item.title}}</button>
      </nav>
    </div>
    <div class="demo-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
