<div class="sidebar-outer">
    <mat-tab-group disableRipple="true"
        (selectedTabChange)="onSelectedTabChange($event)">
        <mat-tab *ngFor="let item of items; let i=index;"
            [disabled]="item.disabled">
            <ng-template mat-tab-label>
                <mat-icon [fontSet]="getFontSet(item)"
                    [fontIcon]="getFontIcon(item)"
                    [color]="selectedIndex === i ? 'primary' : ''"
                    [matTooltip]="getTitle(item)"
                    matTooltipPosition="below"></mat-icon>
            </ng-template>
            <div class="sidebar-content">
                <mat-toolbar>{{getTitle(item)}}</mat-toolbar>
                <div class="sidebar-inner"
                    *ngIf="map">
                    <mangol-layertree *ngIf="item.type === 'layertree'"
                        [opts]="options.toolbar.layertree"
                        [map]="map"
                        [isAccordionMulti]="options.toolbar.layertree.isAccordionMulti">
                    </mangol-layertree>
                    <mangol-feature-info *ngIf="item.type === 'featureinfo'"
                        [map]="map"
                        [opts]="options.toolbar.featureinfo"></mangol-feature-info>
                    <mangol-measure *ngIf="item.type === 'measure'"
                        [map]="map"
                        [opts]="options.toolbar.measure">
                    </mangol-measure>
                    <mangol-print *ngIf="item.type === 'print'"
                        [map]="map"></mangol-print>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
