<div class="sidebar-outer">
    <mat-tab-group disableRipple="true"
        (selectedTabChange)="onSelectedTabChange($event)">
        <mat-tab *ngIf="hasLayertree">
            <ng-template mat-tab-label>
                <mat-icon fontSet="ms"
                    fontIcon="ms-layers"
                    [color]="selectedIndex === 0 ? 'primary' : ''"></mat-icon>
            </ng-template>
            <div class="sidebar-content">
                <mangol-layertree [opts]="options.toolbar.layertree"
                    [map]="map"
                    [isAccordionMulti]="options.toolbar.layertree.isAccordionMulti">
                </mangol-layertree>
            </div>
        </mat-tab>
        <mat-tab *ngIf="hasFeatureInfo">
            <ng-template mat-tab-label>
                <mat-icon fontSet="ms"
                    fontIcon="ms-information"
                    [color]="selectedIndex === 1 ? 'primary' : ''"></mat-icon>
            </ng-template>
            <div class="sidebar-content">
                <mangol-feature-info [map]="map"
                    [opts]="options.toolbar.featureinfo"></mangol-feature-info>
            </div>
        </mat-tab>
        <mat-tab *ngIf="hasMeasure">
            <ng-template mat-tab-label>
                <mat-icon fontSet="ms"
                    fontIcon="ms-measure-distance"
                    [color]="selectedIndex === 2 ? 'primary' : ''"></mat-icon>
            </ng-template>
            <div class="sidebar-content">
                <mangol-measure [map]="map"
                    [opts]="options.toolbar.measure">
                </mangol-measure>
            </div>
        </mat-tab>
        <mat-tab *ngIf="hasPrint">
            <ng-template mat-tab-label>
                <mat-icon fontSet="ms"
                    fontIcon="ms-printer"
                    [color]="selectedIndex === 3 ? 'primary' : ''"></mat-icon>
            </ng-template>
            <div class="sidebar-content">
                <mangol-print [map]="map"></mangol-print>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
