<div class="sidebar-outer">
    <mangol-toolbar *ngIf="hasToolbar"
        [options]="options.toolbar"
        (elementActivated)="onElementActivated($event)">
    </mangol-toolbar>
    <div class="sidebar-main">
        <div class="sidebar-title">
            <mat-toolbar>
                <span>{{activeElement.title}}</span>
            </mat-toolbar>
        </div>
        <div class="sidebar-content">
            <mangol-layertree *ngIf="hasLayertree && activeElement.type==='layertree'"
                [opts]="options.toolbar.layertree"
                [map]="map"
                [isAccordionMulti]="options.toolbar.layertree.isAccordionMulti">
            </mangol-layertree>
            <mangol-feature-info *ngIf="hasFeatureInfo && activeElement.type==='featureinfo'"
                [map]="map"
                [opts]="options.toolbar.featureinfo"></mangol-feature-info>
            <mangol-measure *ngIf="hasMeasure && activeElement.type==='measure'"
                [map]="map"
                [opts]="options.toolbar.measure">
            </mangol-measure>
            <mangol-print *ngIf="hasPrint && activeElement.type==='print'"
                [map]="map"></mangol-print>
        </div>
    </div>
</div>
