  $mangol-height: 70vh;
  $mangol-quicksearch-width: 250px;
  $mangol-sidebar-width: 450px;
  @import "./../mangol";
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #fafafa;
    & .demo-loading {
      font-style: italic;
    }
    & .mangol-demo {
      font-style: normal;
      position: relative;
      & h1 {
        font-weight: 400;
      }
      & .demo {
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
      }
      & .demo-header {
        padding-bottom: 20px;
        & .title {
          margin-bottom: 5px;
        }
        & .subtitle {
          color: rgba(black, 0.5);
          font-style: italic;
          font-size: smaller;
          margin-bottom: 5px;
        }
        .mat-chip {
          cursor: pointer;
          &.active {
            background-color: mat-color($mangol-accent);
          }
        }
        button {
          margin-right: 7px;
          &.active {
            background-color: mat-color($mangol-accent);
          }
        }
      }
      & .divider {
        color: #333333;
        padding-left: 10px;
        padding-right: 10px;
      }
      & button {
        text-transform: uppercase;
        font-weight: normal;
      }
      & .demo-content {
        border: 1px dashed rgba(0, 0, 0, 0.15);
        padding: 6px;
      }
      & .ribbon-box {
        float: right !important;
        right: 1px;
      }
      & .ribbon i {
        font-size: 2em;
      }
      & nav {
        line-height: 2.5em;
      }
    }
  }

  .ol-attribution {
    display: none !important;
  }
