$mangol-sidebar-width: 100px;
$mangol-height: 400px;
@import '../projects/mangol/src/lib/assets/scss/mangol';

html,
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.mat-tab-group {
  height: 100%;

  .mat-tab-body-wrapper {
    height: 100%;
  }
}

.tab-content {
  height: 100%;

  .map-container-outer {
    height: 100%;

    .map-container {
      height: calc(100% - 40px);
      padding: 20px;

      transition: padding 300ms;

      @media screen and (max-width: 500px) {
        height: 100%;
        padding: 0;
      }

      .mat-card {
        height: 100%;
        padding: 0;
        position: relative;

        .mangol {
          display: block;
          height: 100%;
        }
      }
    }
  }
}
